@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*!------------------------------ GENERALES--------------------- */

* {
  font-family: Roboto;
}

body {
  position: relative;
  width: 1440px;
  height: 4490px;
  margin: auto;
  background-color: #f2f4fc;
}

/*!------------------------------ NAVBAR --------------------- */

header {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid black;
}
nav img {
  padding-bottom: 1vw;
  width: 130%;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
  min-height: 6vw;
  align-items: flex-end;
  margin-left: 3%;
  margin-top: 3%;
}
.navigation a {
  padding-left: 2vw;
  padding-right: 2vw;
}
.navigation a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.navigation a:active,
a:visited {
  color: #072ac8;
}

.blue-btn {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  color: #f2f4fc;
  background-color: #072ac8;
  width: 14%;
  height: 2.8em;
}

/*!------------------------------ SECTION 1 --------------------- */

/*? LEFT */

/* .empower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.empower-left {
  background-color: antiquewhite;
  margin-top: 5%;
  margin-right: 60%;
  display: flex;
  flex-direction: column;
} */

/*? RIGHT */

/* .empower-right {
  margin-left: 40%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

.hero-img {
  width: 100px;

  object-fit: contain;
} */

/* .empower {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7%;
  margin-left: 2%;
  margin-right: 2%;
}

.caja-izq {
  background-color: cornflowerblue;
  width: 50vw;
  height: 50vw;
  border: 1px solid black;
  margin: auto;
  padding-left: 3%;
  font-size: 5em;
}
.caja-dch {
  background-color: darkolivegreen;
  width: 60vw;
  height: 50vw;
  border: 1px solid black;
  margin: auto;
}

.empower p {
  position: initial;
  font-size: 2vw;
} */

.empower {
  position: absolute;
  width: 1440px;
  height: 650px;
  left: calc(50% - 1440px / 2);
  top: 222px;
  background-color: darkgoldenrod;
}

.logos-bar {
  display: flex;
  flex-direction: row;
  filter: grayscale(1.0);
  justify-content: space-around;

  /* position: absolute;
  width: 1440px;
  height: 96px;
  left: calc(50% - 1440px / 2);
  top: 1002px; */
  position: inherit;
  margin: auto;
  top: 1002px;
}
